
#navbarNav {
    font-size: x-large;
    
}
h1{
    color:grey;
}
/*body {
    background-image: url('https://images.unsplash.com/photo-1534278931827-8a259344abe7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
    
 }*/

 html {
    background: url('https://images.unsplash.com/photo-1534278931827-8a259344abe7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}